* .{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #222;
}

header {
  background-color: #ffcc00;
  border-bottom: 4px solid #000;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 2.5em;
  color: #000;
}

header p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
}

.card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  background-color: white;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  margin: 15px 0 10px;
}

.card p {
  font-size: 0.95em;
  padding: 0 15px;
  color: #444;
}

.card a {
  display: inline-block;
  margin: 15px 0 20px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.card a:hover {
  background-color: #444;
}


/* Cores personalizadas por projeto */
.maquete { border-top: 6px solid #3498db; }   /* Azul */
.robotica { border-top: 6px solid #27ae60; }  /* Verde */
.foguetes { border-top: 6px solid #e67e22; }  /* Laranja */

footer {
  background-color: #000;
  border-top: 4px solid #ffcc00;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Cabeçalho */
.foto-perfil-cabecalho {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #000;
  display: block;
  margin: 15px auto;
}

/* Footer */
.foto-perfil-footer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #000;
  display: block;
  margin: 10px auto;

}

footer {
  background-color: #ffea00; /* amarelo vibrante igual ao topo */
  color: #0056b3;            /* texto azul escuro para contraste */
  text-align: center;
  padding: 20px 10px;
  border-top: 5px solid #ffc107; /* borda topo um pouco mais escura */
  margin-top: 40px;
}


.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.perfil-footer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 5px;
}

#contador {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-top: 8px;
}

#visitas {
  color: #ffea00;
  font-weight: bold;
}

/* Estilo do botão Voltar */
.botao-voltar {
  display: inline-block;
  margin-top: 10px;
  background-color: #ffea00;
  color: #0056b3;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.botao-voltar:hover {
  background-color: #ffc107;
  transform: scale(1.05);
}



